<html>
<head>
  <title>ChirperOnline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	  <h2 class="title">Chirper - View Demo</h2>
	  <div class="story">
		<p>Include Screencasts/screenshots</p>
    <ul id="image_gallery">
      <li class="img_gallery_list"><img src="/images/chirper screenshots/1.png" alt="screenshot 1"></li>
      <li class="img_gallery_list"><img src="/images/chirper screenshots/2.png" alt="screenshot 1"></li>  
    </ul>
</body>
</html>