<html>
<head>
  <title>ChirperOnline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	  <h2 class="title">Chirper - View Demo</h2>
	  <div class="story">
		<p>Include Screencasts/screenshots</p>
    
    <div class="img">
      <img src="/images/chirper screenshots/1.png" alt="screenshot 1">
	  </div>
    
    <div class="img">
      <img src="/images/chirper screenshots/2.png" alt="screenshot 2">
    </div>
    
</body>
</html>