<html>
<head>
  <title>ChirperOnline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	  <h2 class="title">Chirper - View Demo</h2>
	  <div class="story">
      <table>
        <tr> 
          <td><img src="/images/chirper screenshots/1.png" alt="screenshot 1" width="208" height="372"></td>
          
          <td><img src="/images/chirper screenshots/2.png" alt="screenshot 1" width="208" height="372"></td>
          
          <td><img src="/images/chirper screenshots/3.png" alt="screenshot 1" width="208" height="372"></td>          
        </tr>
        
        <tr>      
          <td><img src="/images/chirper screenshots/4.png" alt="screenshot 1" width="208" height="372"></td> 
          
          <td><img src="/images/chirper screenshots/5.png" alt="screenshot 1" width="208" height="372"></td>
          
          <td><img src="/images/chirper screenshots/6.png" alt="screenshot 1" width="208" height="372"></td> 
        </tr>
        
        <tr>
          <td><img src="/images/chirper screenshots/7.png" alt="screenshot 1" width="208" height="372"></td>
          
          <td><img src="/images/chirper screenshots/8.png" alt="screenshot 1" width="208" height="372"></td> 
          
          <td><img src="/images/chirper screenshots/9.png" alt="screenshot 1" width="208" height="372"></td>
        </tr>
        
        <tr>
          <td><img src="/images/chirper screenshots/10.png" alt="screenshot 1" width="208" height="372"></td>

          <td><img src="/images/chirper screenshots/11.png" alt="screenshot 1" width="208" height="372"></td> 

          <td><img src="/images/chirper screenshots/12.png" alt="screenshot 1" width="208" height="372"></td>
        </tr>
        
        <tr>
          <td><img src="/images/chirper screenshots/13.png" alt="screenshot 1" width="208" height="372"></td>

          <td><img src="/images/chirper screenshots/14.png" alt="screenshot 1" width="208" height="372"></td> 

          <td><img src="/images/chirper screenshots/15.png" alt="screenshot 1" width="208" height="372"></td>          
        </tr>
        
      </table>
    </div>
</body>
</html>