<html>
<head>
  <title>ChirperOnline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	  <h2 class="title">Chirper - Downloads</h2>
	  <div class="story">
		<p><strong><a href="#">Download Chirper APK here - Chirper Lite</a></strong></p>
		<p><strong><a href="http://dl.dropbox.com/u/1391008/Bird%20Data.zip">Download Chirper Database and Images here - Chirper</a></strong></p>
	  </div>

	 <div id="features" class="post">
	  <h2 class="title">Instructions</h2>
	  <div class="story">
		<ol>	
			<li>Download Chirper APK on an Android 2.2 mobile device. </li>
			<li>To enjoy Chirper's features completely, download the images onto the SDcard.</li>
		</ol>
		<p> Thats it, You're good to go..<strong>Happy Birding!!</strong> <p>
	  </div>
	 </div>

</body>
</html>