<html>
<head>
  <title>ChirperOnline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	  <h2 class="title">Chirper - Resources</h2>
	  <div class="story">
		<p><strong>Chirper</strong> provides information of all North American & Canada birds.
		The bird information and images have been extracted from Wikipedia. 
		</p>
	  </div>
	  
	 <div id="features" class="post">
	  <h2 class="title">Licenses</h2>
	  <div class="story">
	  	<p> The bird images and information is available under the 
		<a href= "http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-ShareAlike License</a> 
		</p>
	  </div>
	 </div>

</body>
</html>