<html>
<head>
  <title>ChirperOnline</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	  <h2 class="title">Chirper - Support</h2>
	  <div class="story">
		<p> Welcome! Thank you for your interest in Chirper.</p>
		<p> We're in the process of releasing Chirper in the Android Marketplace. This application
		is designed for birders to locate,search and record information and collaborate with eBird. 
		</p>
	  </div>

	 <div id="features" class="post">
	  <h2 class="title">Feedback</h2>
	  <div class="story">
		<p>We're sure that you would want to share your ideas, comments, requests & questions after
		viewing the demo screencasts.</p>
		<p>We would be happy to help you and make a better product with your 
		valuable <strong><a href="feedback">Feedback here</a></strong>.</p>
	  </div>
	 </div>

</body>
</html>